%h2.offset1 Resend confirmation instructions
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), :html => { method: 'post', class: 'form-horizontal' }) do |f|
  = devise_error_messages!
  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.email_field :email, class: 'text-field'
  .row
    .span4.offset4= f.submit 'Resend confirmation instructions', class: 'btn btn-primary'
= render 'links'
