%div#logo Hacker Union
%div#home.section.beige
  %div.container
    %h2 Join the Union
    %p
      Hacker Union is recruiting! Interested parties apply here.
    %div.steps
      %div
        %a.btn.btn-big.btn-primary{:href => '#step1'} Apply Now

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div#step1.section.orange
    %div.container
      %h2.text-white Who are you?
      %div.user-info
        = f.text_field :name, :placeholder => "Full name?"
      %div.user-info
        = f.email_field :email, :placeholder => "Email"
      %div.user-info
        = f.password_field :password, :placeholder => "Password"
      %div.user-info
        = f.password_field :password_confirmation, :placeholder => "Password Confirmation"
      %div.steps
        %div.back
          %a.btn.btn-big.btn-white{:href => '#home'} Back
        %div.next
          %a.btn.btn-big.btn-black{:href => '#step2'} Next
  %div#step2.section.beige
    %div.container
      %h2 What city are you nearest to?
      %div.map
        %ul.cities
          %li.newyork.selected New York
          %li.sanfrancisco San Francisco
          %li.portland Portland
          %li.austin Austin
          %li.boulder Boulder
          %li.seattle Seattle
        %div.steps
          %div.back
            %a.btn.btn-big.btn-black{:href => '#step1'} Back
          %div.next
            %a.btn.btn-big.btn-primary{:href => '#step3'} Next
  %div#step3.section.brown
    %div.container
      %h2.text-white What makes you a Hacker?
      %div.hacker-essay.row
        %div.span5
          = f.text_area :whyhacker
        %div.span4
          %div.instructions.text-white
            %b Be descriptive.
            %p Are you a coder or designer? What have you built?
            %p Show off work that you're proud of.  Feel free to include links to Github or Dribbble.
          %div.steps.full
            %div.back
              %a.btn.btn-big.btn-white{:href => '#step2'} Back
            %div.next
              %a#finish.btn.btn-big.btn-primary{:href => '#step4'} Finish
  %div#step4.section.black
    %div.container
      %h2 Thanks for applying!
      %p HackerUnion will be opening its doors soon.
      %p We will be in touch about your application.
      %p In the meantime, follow us on Twitter and Facebook!
      %div.steps
        %div
          %a.btn.btn-big.btn-primary{:href => '#home'} Home
:javascript
  $(function() {
    $('.steps a').click(function(event){
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1500,'easeInOutExpo');
      event.preventDefault();
    });
    $('ul.cities li').click(function (){
      $('.selected').removeClass('selected');
      $(this).addClass('selected')
    });

  });