%h2.offset1 Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: 'put', class: 'form-horizontal' }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .control-group
    = f.label :password, 'New password', class: 'control-label'
    .controls
      = f.password_field :password, class: 'text-field'
  .control-group
    = f.label :password_confirmation, 'Confirm new password', class: 'control-label'
    .controls
      = f.password_field :password_confirmation, class: 'password-field'
  .row
    .span4.offset4= f.submit 'Change my password', class: 'btn btn-primary'
= render 'links'
