- model_class = Event.new.class
%h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:start_time)
      %th= model_class.human_attribute_name(:end_time)
      %th= model_class.human_attribute_name(:approved)
      %th= model_class.human_attribute_name(:member)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.id, event_path(event)
        %td= event.title
        %td= event.description
        %td= event.start_time
        %td= event.end_time
        %td= event.approved
        %td= link_to event.member.email, member_path(event.member)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_event_path(event), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), event_path(event), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary'
