<!DOCTYPE html>
<html>
<head>
  <title>Hacker Union</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="authentication_controls">
  <%= login_or_logout_link %>
</div>
<div id="admin_controls">
  <%= pending_members_link %> | <%= pending_events_link %>
</div>

<h1>Hacker Union</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
