<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Hacker Union - Apply for the Hacker Union</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
		<%= stylesheet_link_tag "application", :media => "all" %>     		
		
		<%= javascript_include_tag "application" %>
        <%= stylesheet_link_tag "launch" %>
        <%= javascript_include_tag "jquery.easing.1.3" %>
    </head>

    <body>   
      <%= yield %>
    </body>
</html>