%table
  %tr
    %th Name
    %th Affiliations
    %th Ambassadorness
    %th
  - @members.each do |member|
    %tr
      %td= member.name
      %td= affiliations_list_for(member)
      %td= image_tag 'dolphin.jpg' if member.ambassador?
      %td
        = link_to "view", member_path(member.id)
        \/
        = link_to "edit", edit_member_path(member.id)