= search_form_for @q do |f|
  .span6
    .control-group
      .control-label
        = f.label 'Affiliation like:'
    .controls
      .text_field
        = f.text_field :affiliations_name_cont
  .span6
    .control-group
      .control-label
        = f.label 'Skill like:'
    .controls
      .text_field
        = f.text_field :skills_name_cont
  .span6
    .control-group
      .control-label
        = f.label 'Ambassadors only?'
    .controls
      .check_box
        = check_box_tag :ambassador, '0', params[:ambassador] == '0'
  .form-actions
    .btn.btn-primary
      = f.submit