= search_form_for @q do |f|
  .span6
    .control-group
      = f.label 'Affiliation like:',  class: 'control-label'
    .controls
      = f.text_field :affiliations_name_cont, class: 'text_field'
  .span6
    .control-group
      = f.label 'Skill like:', class: 'control-label'
    .controls
      = f.text_field :skills_name_cont, class: 'text_field'
  .span6
    .control-group
      = f.label 'Ambassadors only?', class: 'control-label'
    .controls
      = check_box_tag :ambassador, '0', params[:ambassador] == '0', class: 'check_box'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'