- model_class = @member.class
%h1=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}")

= form_for @member, :html => { class: 'form-horizontal' } do |f|
  .control-group
    = label_tag :name, nil, class: 'control-label'
    .controls
      = text_field_tag :name, @member.name, class: 'text-field'
  .control-group
    = label_tag :affiliations, nil, class: 'control-label'
    .controls
      = text_field_tag :affiliations, comma_list_of_affiliations_for(@member), class: 'text-field'
  .control-group
    = label_tag :skills, nil, class: 'control-label'
    .controls
      = text_field_tag :skills, comma_list_of_skills_for(@member), class: 'text-field'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    .btn= link_to t('.cancel', :default => t("helpers.links.cancel")), members_path
