- model_class = @member.class
%h1=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}")

= form_for @member, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    .control-label
      = label_tag :name
    .controls
      .text_field
        = text_field_tag :name, @member.name
  .control-group
    .control-label
      = label_tag :affiliations
    .controls
      .text_field
        = text_field_tag :affiliations, affiliations_list_for(@member)
  .form-actions
    .btn.btn-primary
      = f.submit nil
    .btn= link_to t('.cancel', :default => t("helpers.links.cancel")), members_path
