<h1>Hi We're editing you</h1>

<%= form_for @member do |f| %>
    <%= label_tag :affiliations %>
    <%= text_field_tag :affiliations %>
    <br/>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <br/>
    <%= submit_tag :submit %>
<%- end %>