- model_class = Member.new.class
%h1=t '.pending-title', :default => 'Pending ' + model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:email)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to member.name, member_path(member)
        %td= member.email
        %td= button_to t('.approve', :default => t("helpers.links.approve")), approve_member_path(member), :method => 'put', class: 'btn btn-mini'