- model_class = @member.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @member.name || "This user has not entered their name yet."
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @member.email
%p
  %strong= model_class.human_attribute_name(:affiliations) + ':'
  %br
  = affiliations_list_for(@member) || "This user has no affiliations yet."
%p
  %strong= model_class.human_attribute_name(:skills) + ':'
  %br
  = skills_list_for(@member) || "This user has no affiliations yet."
%p
  %strong= model_class.human_attribute_name(:ambassador) + ':'
  -if @member.ambassador?
    #ambassador{style: "float: left; margin-right: 10px;"}=image_tag 'dolphin.jpg'
  =toggle_ambassador_button(@member.id)